{
    "$schema": "https://json.schemastore.org/prettierrc",
    "arrowParens": "always",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "endOfLine": "lf",
    "printWidth": 120,
    "importOrder": [
        ".s?css$",
        "<THIRD_PARTY_MODULES>",
        "",
        "^vue$",
        "^vue-(.*)$",
        "^@vueuse/(.*)$",
        "",
        "<TYPES>",
        "<TYPES>^[.]",
        "",
        "^@/main(.*)$",
        "^@/i18n(.*)$",
        "^@/router(.*)$",
        "^@/middlewares(.*)$",
        "^@/directives(.*)$",
        "",
        "^@/services(.*)$",
        "",
        "^@/store(.*)$",
        "^@/composables(.*)$",
        "^@/constants(.*)$",
        "^@/utils(.*)$",
        "",
        "^@/components/modals/(.*)$",
        "",
        "^@/assets(.*)$",
        "^@/views(.*)$",
        "^@/components/(.*)$",
        "",
        "^(?!.*)[./].*$",
        "^[./]"
    ],
    "importOrderParserPlugins": ["typescript", "decorators-legacy"],
    "plugins": [
        "@ianvs/prettier-plugin-sort-imports"
    ]
}
